Repository baptistegh/terraform-provider-lakekeeper, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, go, client, provider

feat: add playground examples (#120)
  .gitignore
  Makefile
  README.md
  playground/.terraform.lock.hcl
  playground/main.tf
Labels: documentation

chore: update readme
  README.md
Labels: documentation

chore: update readme (#122)
  README.md
Labels: documentation

chore: release please
  .github/workflows/release-please.yml
Labels: ci

chore: release please (#123)
  .github/workflows/release-please.yml
Labels: ci

chore: release please changelog sections
  release-please-config.json
Labels: none

chore: release please changelog sections (#124)
  release-please-config.json
Labels: none

chore: fix release please config file
  release-please-config.json
Labels: none

chore: fix release please config file (#125)
  release-please-config.json
Labels: none

chore(main): release 0.2.5
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

docs: preview status notice
  README.md
  release-please-config.json
Labels: documentation

docs: preview status notice (#126)
  README.md
  release-please-config.json
Labels: documentation

feat(warehouse): add managed access property
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_test.go
Labels: go, provider

docs
  docs/data-sources/warehouse.md
  docs/resources/warehouse.md
  examples/resources/lakekeeper_warehouse/resource.tf
  internal/provider/datasource_lakekeeper_warehouse.go
Labels: documentation, go, provider

feat(warehouse): add managed access property (#127)
  docs/data-sources/warehouse.md
  docs/resources/warehouse.md
  examples/resources/lakekeeper_warehouse/resource.tf
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_test.go
Labels: documentation, go, provider

feat: add lakekeeper_warehouse_assignments datasource
  docs/data-sources/warehouse.md
  docs/data-sources/warehouse_assignments.md
  examples/data-sources/lakekeeper_warehouse_assignments/data-source.tf
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/datasource_lakekeeper_warehouse_assignments.go
  internal/provider/datasource_lakekeeper_warehouse_assignments_test.go
  internal/provider/testutil/helpers.go
  internal/provider/types/assignment.go
Labels: documentation, go, provider

feat: add lakekeeeper_warehouse_user/role_access data sources
  docs/data-sources/warehouse_role_access.md
  docs/data-sources/warehouse_user_access.md
  examples/data-sources/lakekeeper_warehouse_role_access/data-source.tf
  examples/data-sources/lakekeeper_warehouse_user_access/data-source.tf
  internal/provider/datasource_lakekeeper_warehouse_role_access.go
  internal/provider/datasource_lakekeeper_warehouse_role_access_test.go
  internal/provider/datasource_lakekeeper_warehouse_user_access.go
  internal/provider/datasource_lakekeeper_warehouse_user_access_test.go
Labels: documentation, go, provider

feat: add lakekeeper_warehouse_assignments datasource (#128)
  docs/data-sources/warehouse.md
  docs/data-sources/warehouse_assignments.md
  docs/data-sources/warehouse_role_access.md
  docs/data-sources/warehouse_user_access.md
  examples/data-sources/lakekeeper_warehouse_assignments/data-source.tf
  examples/data-sources/lakekeeper_warehouse_role_access/data-source.tf
  examples/data-sources/lakekeeper_warehouse_user_access/data-source.tf
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/datasource_lakekeeper_warehouse_assignments.go
  internal/provider/datasource_lakekeeper_warehouse_assignments_test.go
  internal/provider/datasource_lakekeeper_warehouse_role_access.go
  internal/provider/datasource_lakekeeper_warehouse_role_access_test.go
  internal/provider/datasource_lakekeeper_warehouse_user_access.go
  internal/provider/datasource_lakekeeper_warehouse_user_access_test.go
  internal/provider/testutil/helpers.go
  internal/provider/types/assignment.go
Labels: documentation, go, provider

feat(project): add permission datasources
  docs/data-sources/project_assignments.md
  docs/data-sources/project_role_access.md
  docs/data-sources/project_user_access.md
  examples/data-sources/lakekeeper_project_assignments/data-source.tf
  examples/data-sources/lakekeeper_project_role_access/data-source.tf
  examples/data-sources/lakekeeper_project_user_access/data-source.tf
  internal/provider/datasource_lakekeeper_project_assignments.go
  internal/provider/datasource_lakekeeper_project_assignments_test.go
  internal/provider/datasource_lakekeeper_project_role_access.go
  internal/provider/datasource_lakekeeper_project_role_access_test.go
  internal/provider/datasource_lakekeeper_project_user_access.go
  internal/provider/datasource_lakekeeper_project_user_access_test.go
Labels: documentation, go, provider

feat(project): add permission datasources (#129)
  docs/data-sources/project_assignments.md
  docs/data-sources/project_role_access.md
  docs/data-sources/project_user_access.md
  examples/data-sources/lakekeeper_project_assignments/data-source.tf
  examples/data-sources/lakekeeper_project_role_access/data-source.tf
  examples/data-sources/lakekeeper_project_user_access/data-source.tf
  internal/provider/datasource_lakekeeper_project_assignments.go
  internal/provider/datasource_lakekeeper_project_assignments_test.go
  internal/provider/datasource_lakekeeper_project_role_access.go
  internal/provider/datasource_lakekeeper_project_role_access_test.go
  internal/provider/datasource_lakekeeper_project_user_access.go
  internal/provider/datasource_lakekeeper_project_user_access_test.go
Labels: documentation, go, provider

chore(ci): add nightly acceptance tests
  .github/workflows/nightly.yml
Labels: ci

chore(ci): add nightly acceptance tests (#130)
  .github/workflows/nightly.yml
Labels: ci

docs: add guides
  docs/guides/authentication-methods.md
  docs/guides/set-up-permissions.md
  templates/guides/authentication-methods.md.tmpl
  templates/guides/set-up-permissions.md.tmpl
Labels: documentation

docs: add guides (#131)
  docs/guides/authentication-methods.md
  docs/guides/set-up-permissions.md
  templates/guides/authentication-methods.md.tmpl
  templates/guides/set-up-permissions.md.tmpl
Labels: documentation

chore(main): release 0.2.5
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore(main): release 0.2.5 (#121)
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

feat: add auth early fail in provider config
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  README.md
  go.mod
  internal/provider/api/config.go
  internal/provider/provider.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/testutil/helpers.go
  internal/provider/types/delete_profile.go
  internal/provider/types/storage_credential_validator.go
  internal/provider/types/storage_profile_validator.go
  internal/provider/warehouse_sdk.go
  playground/main.tf
Labels: documentation, ci, go, provider

feat: allow setting warehouse parameters as unknown variables (#135)
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  README.md
  go.mod
  internal/provider/api/config.go
  internal/provider/provider.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/testutil/helpers.go
  internal/provider/types/delete_profile.go
  internal/provider/types/storage_credential_validator.go
  internal/provider/types/storage_profile_validator.go
  internal/provider/warehouse_sdk.go
  playground/main.tf
Labels: documentation, ci, go, provider

feat(docs): add missing parameters documentation
  docs/data-sources/project_role_access.md
  docs/data-sources/project_user_access.md
  docs/data-sources/role.md
  docs/data-sources/warehouse.md
  docs/resources/project_role_assignment.md
  docs/resources/project_user_assignment.md
  docs/resources/role.md
  docs/resources/warehouse.md
  examples/resources/lakekeeper_project_role_assignment/import.sh
  examples/resources/lakekeeper_project_user_assignment/import.sh
  examples/resources/lakekeeper_role/import.sh
  internal/provider/datasource_lakekeeper_project_role_access.go
  internal/provider/datasource_lakekeeper_project_user_access.go
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_project_role_assignment.go
  internal/provider/resource_lakekeeper_project_user_assignment.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/types/delete_profile.go
  internal/provider/types/storage_credential.go
Labels: documentation, go, provider

feat(docs): add missing parameters documentation (#137)
  docs/data-sources/project_role_access.md
  docs/data-sources/project_user_access.md
  docs/data-sources/role.md
  docs/data-sources/warehouse.md
  docs/resources/project_role_assignment.md
  docs/resources/project_user_assignment.md
  docs/resources/role.md
  docs/resources/warehouse.md
  examples/resources/lakekeeper_project_role_assignment/import.sh
  examples/resources/lakekeeper_project_user_assignment/import.sh
  examples/resources/lakekeeper_role/import.sh
  internal/provider/datasource_lakekeeper_project_role_access.go
  internal/provider/datasource_lakekeeper_project_user_access.go
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_project_role_assignment.go
  internal/provider/resource_lakekeeper_project_test.go
  internal/provider/resource_lakekeeper_project_user_assignment.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/types/delete_profile.go
  internal/provider/types/storage_credential.go
Labels: documentation, go, provider

chore(main): release 0.3.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore(main): release 0.3.0 (#136)
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

fix(build): conflicts on go tags with uniseg@v0.4.7
  .vscode/settings.json
  Makefile
  tools/tools.go
Labels: go

fix(build): conflicts on go tags with uniseg@v0.4.7 (#139)
  .vscode/settings.json
  Makefile
  tools/tools.go
Labels: go

chore(docs): fix some mistakes
  docs/data-sources/default_project.md
  docs/data-sources/project.md
  docs/data-sources/role.md
  docs/resources/warehouse.md
  docs/resources/warehouse_role_assignment.md
  docs/resources/warehouse_user_assignment.md
  internal/provider/datasource_lakekeeper_default_project.go
  internal/provider/datasource_lakekeeper_project.go
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment.go
  internal/provider/types/delete_profile.go
Labels: documentation, go, provider

chore(docs): fix some mistakes (#142)
  docs/data-sources/default_project.md
  docs/data-sources/project.md
  docs/data-sources/role.md
  docs/resources/warehouse.md
  docs/resources/warehouse_role_assignment.md
  docs/resources/warehouse_user_assignment.md
  internal/provider/datasource_lakekeeper_default_project.go
  internal/provider/datasource_lakekeeper_project.go
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment.go
  internal/provider/types/delete_profile.go
Labels: documentation, go, provider

fix(user): regex matchin if ID is unknown
  internal/provider/resource_lakekeeper_user.go
Labels: go, provider

fix(user): regex matching if ID is unknown (#143)
  internal/provider/resource_lakekeeper_user.go
Labels: go, provider

chore(main): release 0.3.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore(main): release 0.3.1 (#140)
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - docs/**
      - examples/**
      - playground/**
      - '**/*.md'

ci:
  - changed-files:
    - any-glob-to-any-file: .github/**

go:
  - changed-files:
    - any-glob-to-any-file: '**/*.go'

client:
  - changed-files:
    - any-glob-to-any-file: 'lakekeeper/**'

provider:
  - changed-files:
    - any-glob-to-any-file: 'internal/provider/**'
