Repository baptistegh/terraform-provider-lakekeeper, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, go, client, provider

feat: add lakekeeper_server_user_assignment resource (#101)
  docs/resources/server_user_assignment.md
  examples/resources/lakekeeper_server_user_assignment/import.sh
  examples/resources/lakekeeper_server_user_assignment/resource.tf
  go.mod
  go.sum
  internal/provider/registry.go
  internal/provider/resource_lakekeeper_server_user_assignment.go
  internal/provider/resource_lakekeeper_server_user_assignment_test.go
Labels: documentation, go, provider

feat: add lakekeeper_server_role_assignment resource
  docs/resources/server_role_assignment.md
  examples/resources/lakekeeper_server_role_assignment/import.sh
  examples/resources/lakekeeper_server_role_assignment/resource.tf
  internal/provider/resource_lakekeeper_server_role_assignment.go
  internal/provider/resource_lakekeeper_server_role_assignment_test.go
Labels: documentation, go, provider

feat: add lakekeeper_server_role_assignment resource (#102)
  docs/resources/server_role_assignment.md
  examples/resources/lakekeeper_server_role_assignment/import.sh
  examples/resources/lakekeeper_server_role_assignment/resource.tf
  internal/provider/resource_lakekeeper_server_role_assignment.go
  internal/provider/resource_lakekeeper_server_role_assignment_test.go
Labels: documentation, go, provider

feat: add lakekeeper_project_user/role_assignment resources
  docs/resources/project_role_assignment.md
  docs/resources/project_user_assignment.md
  examples/resources/lakekeeper_project_role_assignment/import.sh
  examples/resources/lakekeeper_project_role_assignment/resource.tf
  examples/resources/lakekeeper_project_user_assignment/import.sh
  examples/resources/lakekeeper_project_user_assignment/resource.tf
  internal/provider/resource_lakekeeper_project_role_assignment.go
  internal/provider/resource_lakekeeper_project_role_assignment_test.go
  internal/provider/resource_lakekeeper_project_user_assignment.go
  internal/provider/resource_lakekeeper_project_user_assignment_test.go
Labels: documentation, go, provider

feat: add lakekeeper_project_user/role_assignment resources (#103)
  docs/resources/project_role_assignment.md
  docs/resources/project_user_assignment.md
  examples/resources/lakekeeper_project_role_assignment/import.sh
  examples/resources/lakekeeper_project_role_assignment/resource.tf
  examples/resources/lakekeeper_project_user_assignment/import.sh
  examples/resources/lakekeeper_project_user_assignment/resource.tf
  internal/provider/resource_lakekeeper_project_role_assignment.go
  internal/provider/resource_lakekeeper_project_role_assignment_test.go
  internal/provider/resource_lakekeeper_project_user_assignment.go
  internal/provider/resource_lakekeeper_project_user_assignment_test.go
Labels: documentation, go, provider

feat: add role (role/user) assignments
  docs/resources/role_role_assignment.md
  docs/resources/role_user_assignment.md
  examples/resources/lakekeeper_role_role_assignment/import.sh
  examples/resources/lakekeeper_role_role_assignment/resource.tf
  examples/resources/lakekeeper_role_user_assignment/import.sh
  examples/resources/lakekeeper_role_user_assignment/resource.tf
  go.mod
  go.sum
  internal/provider/resource_lakekeeper_project_role_assignment_test.go
  internal/provider/resource_lakekeeper_project_user_assignment_test.go
  internal/provider/resource_lakekeeper_role_role_assignment.go
  internal/provider/resource_lakekeeper_role_role_assignment_test.go
  internal/provider/resource_lakekeeper_role_user_assignment.go
  internal/provider/resource_lakekeeper_role_user_assignment_test.go
  internal/provider/resource_lakekeeper_server_role_assignment_test.go
  main.go
Labels: documentation, go, provider

feat: add role (role/user) assignments (#104)
  docs/resources/role_role_assignment.md
  docs/resources/role_user_assignment.md
  examples/resources/lakekeeper_role_role_assignment/import.sh
  examples/resources/lakekeeper_role_role_assignment/resource.tf
  examples/resources/lakekeeper_role_user_assignment/import.sh
  examples/resources/lakekeeper_role_user_assignment/resource.tf
  go.mod
  go.sum
  internal/provider/resource_lakekeeper_project_role_assignment_test.go
  internal/provider/resource_lakekeeper_project_user_assignment_test.go
  internal/provider/resource_lakekeeper_role_role_assignment.go
  internal/provider/resource_lakekeeper_role_role_assignment_test.go
  internal/provider/resource_lakekeeper_role_user_assignment.go
  internal/provider/resource_lakekeeper_role_user_assignment_test.go
  internal/provider/resource_lakekeeper_server_role_assignment_test.go
  main.go
Labels: documentation, go, provider

chore: prepare release v0.2.3
  CHANGELOG.md
  README.md
Labels: documentation

chore: prepare release v0.2.3 (#105)
  CHANGELOG.md
  README.md
Labels: documentation

chore: lakekeeper v0.9.3 released
  .github/workflows/test.yml
  README.md
Labels: documentation, ci

chore: lakekeeper v0.9.3 released (#106)
  .github/workflows/test.yml
  README.md
Labels: documentation, ci

chore: add release please
  .github/release.yml
  .github/workflows/release-please.yml
  release-please/.release-please-manifest.json
  release-please/release-please-config.json
Labels: ci

chore: add release please (#107)
  .github/release.yml
  .github/workflows/release-please.yml
  release-please/.release-please-manifest.json
  release-please/release-please-config.json
Labels: ci

chore: set up release type
  playground/main.tf
  release-please/release-please-config.json
  run/docker-compose.yml
  run/keycloak/realm.json
Labels: documentation

chore: set up release type (#108)
  playground/main.tf
  release-please/release-please-config.json
  run/docker-compose.yml
  run/keycloak/realm.json
Labels: documentation

chore: bootstrap releases for path: .
  release-please/release-please-config.json
Labels: none

chore: bootstrap releases for path: . (#109)
  release-please/release-please-config.json
Labels: none

chore: bootstrap releases for path: .
  release-please/release-please-config.json
Labels: none

chore: bootstrap releases for path: . (#110)
  release-please/release-please-config.json
Labels: none

chore: delete code owners
  .github/CODEOWNERS
Labels: ci

chore: delete code owners (#112)
  .github/CODEOWNERS
Labels: ci

chore(main): release 0.2.4
  CHANGELOG.md
  release-please/.release-please-manifest.json
Labels: documentation

chore: bootstrap releases for path: .
  release-please/release-please-config.json
Labels: none

chore: bootstrap releases for path: . (#113)
  release-please/release-please-config.json
Labels: none

chore: format changelog
  CHANGELOG.md
Labels: documentation

chore: format changelog (#115)
  CHANGELOG.md
Labels: documentation

feat(permission): add lakekeeper_warehouse_user/role_assignment resources
  docs/resources/warehouse_role_assignment.md
  docs/resources/warehouse_user_assignment.md
  examples/resources/lakekeeper_project_user_assignment copy/import.sh
  examples/resources/lakekeeper_project_user_assignment copy/resource.tf
  examples/resources/lakekeeper_warehouse_role_assignment/import.sh
  examples/resources/lakekeeper_warehouse_role_assignment/resource.tf
  go.mod
  go.sum
  internal/provider/api/config.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment_test.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment_test.go
  internal/provider/testutil/helpers.go
  playground/.terraform.lock.hcl
Labels: documentation, go, provider

feat(permission): add lakekeeper_warehouse_user/role_assignment resources (#116)
  docs/resources/warehouse_role_assignment.md
  docs/resources/warehouse_user_assignment.md
  examples/resources/lakekeeper_project_user_assignment copy/import.sh
  examples/resources/lakekeeper_project_user_assignment copy/resource.tf
  examples/resources/lakekeeper_warehouse_role_assignment/import.sh
  examples/resources/lakekeeper_warehouse_role_assignment/resource.tf
  go.mod
  go.sum
  internal/provider/api/config.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment_test.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment_test.go
  internal/provider/testutil/helpers.go
  playground/.terraform.lock.hcl
Labels: documentation, go, provider

chore(main): release main 0.2.4
  CHANGELOG.md
  release-please/.release-please-manifest.json
Labels: documentation

chore: remove empty spaces in CHANGELOG.md
  CHANGELOG.md
  docs/resources/warehouse_role_assignment.md
  examples/resources/lakekeeper_warehouse_role_assignment/import.sh
Labels: documentation

chore: remove empty spaces in CHANGELOG.md (#117)
  CHANGELOG.md
  docs/resources/warehouse_role_assignment.md
  examples/resources/lakekeeper_warehouse_role_assignment/import.sh
Labels: documentation

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Labels: none

chore: delete old release please configuration
  .github/workflows/release-please.yml
  release-please/.release-please-manifest.json
  release-please/release-please-config.json
Labels: ci

chore: add release type
  .github/workflows/release-please.yml
Labels: ci

chore: bootstrap releases for path: . (#118)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
  release-please/release-please-config.json
Labels: ci

chore(main): release 0.2.4
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore(main): release 0.2.4 (#119)
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

feat: add playground examples
  .gitignore
  Makefile
  README.md
  playground/.terraform.lock.hcl
  playground/main.tf
Labels: documentation

format
  Makefile
  playground/main.tf
Labels: documentation

playground
  Makefile
  playground/main.tf
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - docs/**
      - examples/**
      - playground/**
      - '**/*.md'

ci:
  - changed-files:
    - any-glob-to-any-file: .github/**

go:
  - changed-files:
    - any-glob-to-any-file: '**/*.go'

client:
  - changed-files:
    - any-glob-to-any-file: 'lakekeeper/**'

provider:
  - changed-files:
    - any-glob-to-any-file: 'internal/provider/**'
