Repository baptistegh/terraform-provider-lakekeeper, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, go, client, provider

ci: fix dependabot on docker compose
  .github/dependabot.yml
Labels: ci

rename StorageProfileSettings to StorageSettings
  internal/provider/testutil/helpers.go
  internal/provider/warehouse_sdk.go
  lakekeeper/storage/profiles.go
  lakekeeper/storage/profiles_test.go
  lakekeeper/types/storage/profile/adls.go
  lakekeeper/types/storage/profile/gcs.go
  lakekeeper/types/storage/profile/profile.go
  lakekeeper/types/storage/profile/s3.go
  lakekeeper/types/storage/profile/s3_test.go
Labels: go, client, provider

feat(client): add rename warehouse method (#73)
  lakekeeper/warehouse.go
Labels: go, client

feat(client): add warehouse activate/deactive methods (#74)
  lakekeeper/warehouse.go
Labels: go, client

ci: fix dependabot on docker compose (#76)
  .github/dependabot.yml
Labels: ci

add delete profile and storage credential
  internal/provider/datasource_lakekeeper_warehouse_test.go
  internal/provider/testutil/helpers.go
  internal/provider/warehouse_sdk.go
  lakekeeper/types/permission/server_assignment.go
  lakekeeper/types/permission/server_assignment_test.go
  lakekeeper/types/storage/credential/az.go
  lakekeeper/types/storage/credential/credential.go
  lakekeeper/types/storage/credential/gcs.go
  lakekeeper/types/storage/credential/s3.go
  lakekeeper/types/storage/profile/adls.go
  lakekeeper/types/storage/profile/delete.go
  lakekeeper/types/storage/profile/gcs.go
  lakekeeper/types/storage/profile/profile.go
  lakekeeper/types/storage/profile/s3.go
  lakekeeper/warehouse.go
Labels: go, client, provider

ci: run acceptance tests on 3 last lakekeeper patch version
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
  run/docker-compose.yml
Labels: documentation, ci

ci: run acceptance tests on 3 last lakekeeper versions (#82)
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
  run/docker-compose.yml
Labels: documentation, ci

feat(client): add set warehouse protection method (#75)
  lakekeeper/warehouse.go
Labels: go, client

ci: remove ci cache
  .github/workflows/test.yml
Labels: ci

ci: remove ci cache (#83)
  .github/workflows/test.yml
Labels: ci

feat(client): new datastructure design (#58)
  internal/provider/datasource_lakekeeper_warehouse_test.go
  internal/provider/testutil/helpers.go
  internal/provider/warehouse_sdk.go
  lakekeeper/error.go
  lakekeeper/storage/profiles.go
  lakekeeper/storage/profiles_test.go
  lakekeeper/types/permission/server_assignment.go
  lakekeeper/types/permission/server_assignment_test.go
  lakekeeper/types/storage/credential/az.go
  lakekeeper/types/storage/credential/credential.go
  lakekeeper/types/storage/credential/gcs.go
  lakekeeper/types/storage/credential/s3.go
  lakekeeper/types/storage/profile/adls.go
  lakekeeper/types/storage/profile/delete.go
  lakekeeper/types/storage/profile/gcs.go
  lakekeeper/types/storage/profile/profile.go
  lakekeeper/types/storage/profile/s3.go
  lakekeeper/types/storage/profile/s3_test.go
  lakekeeper/warehouse.go
  lakekeeper/warehouse_test.go
  run/docker-compose.yml
Labels: go, client, provider

feat(client): add update storage profile method for warehouses
  lakekeeper/warehouse.go
Labels: go, client

feat(client): add update storage profile method for warehouses (#84)
  lakekeeper/warehouse.go
Labels: go, client

feat(client): add update delete profile for warehouses
  lakekeeper/warehouse.go
Labels: go, client

feat(client): add update delete profile for warehouses (#86)
  lakekeeper/warehouse.go
Labels: go, client

feat(client): add update storage credential for warehouses
  lakekeeper/warehouse.go
Labels: go, client

fix(client): update delete profile URL mismatch
  lakekeeper/warehouse.go
Labels: go, client

feat(client): add update storage credential for warehouses (#85)
  lakekeeper/warehouse.go
Labels: go, client

chore: prepare release v0.2.0
  CHANGELOG.md
  README.md
Labels: documentation

chore: prepare release v0.2.0 (#87)
  CHANGELOG.md
  README.md
Labels: documentation

docs: fix some inconsistencies
  docs/data-sources/role.md
  docs/data-sources/warehouse.md
  docs/resources/project.md
  docs/resources/role.md
  docs/resources/warehouse.md
  examples/data-sources/lakekeeper_warehouse/data-source.tf
  examples/resources/lakekeeper_project/resource.tf
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/types/delete_profile.go
Labels: documentation, go, provider

docs: fix some inconsistencies (#89)
  docs/data-sources/role.md
  docs/data-sources/warehouse.md
  docs/resources/project.md
  docs/resources/role.md
  docs/resources/warehouse.md
  examples/data-sources/lakekeeper_warehouse/data-source.tf
  examples/resources/lakekeeper_project/resource.tf
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/types/delete_profile.go
Labels: documentation, go, provider

chore: prepare release v0.2.1
  CHANGELOG.md
  README.md
Labels: documentation

chore: prepare release v0.2.1 (#90)
  CHANGELOG.md
  README.md
Labels: documentation

ci: fix labeler to run on PR
  .github/workflows/labeler.yml
Labels: ci

ci: fix labeler to run on PR (#92)
  .github/workflows/labeler.yml
Labels: ci

update go-lakekeeper
  go.mod
  go.sum
Labels: none

chore: skip storage validation and bump go client to v0.0.6
  .github/workflows/test.yml
  README.md
  go.mod
  go.sum
  internal/provider/api/config.go
  internal/provider/datasource_lakekeeper_default_project.go
  internal/provider/datasource_lakekeeper_role_test.go
  internal/provider/resource_lakekeeper_project.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_user.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/testutil/helpers.go
  internal/provider/types/storage_profile_validator.go
  internal/provider/warehouse_sdk.go
  run/docker-compose.yml
Labels: documentation, ci, go, provider

chore: skip storage validation and bump go client to v0.0.6 (#95)
  .github/workflows/test.yml
  README.md
  go.mod
  go.sum
  internal/provider/api/config.go
  internal/provider/datasource_lakekeeper_default_project.go
  internal/provider/datasource_lakekeeper_role_test.go
  internal/provider/resource_lakekeeper_project.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_user.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/testutil/helpers.go
  internal/provider/types/storage_profile_validator.go
  internal/provider/warehouse_sdk.go
  run/docker-compose.yml
Labels: documentation, ci, go, provider

feat: add warehouse update
  internal/provider/resource_lakekeeper_warehouse.go
Labels: go, provider

feat: implements update method for warehouse resource
  go.mod
  go.sum
  internal/provider/provider.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_test.go
  internal/provider/types/delete_profile.go
  internal/provider/types/storage_profile.go
  internal/provider/warehouse_sdk.go
Labels: go, provider

feat: implements update method for warehouse resource (#96)
  go.mod
  go.sum
  internal/provider/provider.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_test.go
  internal/provider/types/delete_profile.go
  internal/provider/types/storage_profile.go
  internal/provider/warehouse_sdk.go
Labels: go, provider

chore: prepare release 0.2.2
  CHANGELOG.md
  README.md
Labels: documentation

chore: prepare release 0.2.2 (#97)
  CHANGELOG.md
  README.md
Labels: documentation

chore: disable dependabot on docker compose
  .github/dependabot.yml
Labels: ci

chore: disable dependabot on docker compose (#100)
  .github/dependabot.yml
Labels: ci

feat: add lakekeeper_server_user_assignment resource
  docs/resources/server_user_assignment.md
  examples/resources/lakekeeper_server_user_assignment/import.sh
  examples/resources/lakekeeper_server_user_assignment/resource.tf
  go.mod
  go.sum
  internal/provider/registry.go
  internal/provider/resource_lakekeeper_server_user_assignment.go
  internal/provider/resource_lakekeeper_server_user_assignment_test.go
Labels: documentation, go, provider

feat: add lakekeeper_server_user_assignment resource
  docs/resources/server_user_assignment.md
  internal/provider/resource_lakekeeper_server_user_assignment.go
Labels: documentation, go, provider

rename lakekeeperServerAssignmentResource to lakekeeperServerRoleAssignmentResource
  internal/provider/resource_lakekeeper_server_user_assignment.go
  internal/provider/resource_lakekeeper_server_user_assignment_test.go
Labels: go, provider

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - docs/**
      - examples/**
      - playground/**
      - '**/*.md'

ci:
  - changed-files:
    - any-glob-to-any-file: .github/**

go:
  - changed-files:
    - any-glob-to-any-file: '**/*.go'

client:
  - changed-files:
    - any-glob-to-any-file: 'lakekeeper/**'

provider:
  - changed-files:
    - any-glob-to-any-file: 'internal/provider/**'
