Repository baptistegh/terraform-provider-lakekeeper, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, go, client, provider

fix: oauth2 scope was not correctly sent
  internal/provider/provider.go
  internal/provider/provider_test.go
Labels: go, provider

fix: oauth2 scope was not correctly sent (#144)
  internal/provider/provider.go
  internal/provider/provider_test.go
Labels: go, provider

chore(main): release 0.3.2
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore(main): release 0.3.2 (#145)
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore(ci): set up changelog sections for release please
  release-please-config.json
Labels: none

Update release-please-config.json
  release-please-config.json
Labels: none

chore(ci): set up changelog sections for release please (#148)
  release-please-config.json
Labels: none

chore(ci): rename archive.formats in goreleaser config
  .goreleaser.yml
Labels: none

chore(ci): rename archive.formats in goreleaser config (#150)
  .goreleaser.yml
Labels: none

--amend
  .vscode/settings.json
  Makefile
  tools/tools.go
Labels: go

--amend
  .vscode/settings.json
Labels: none

feat(warehouse)!: redesign storage profile and credential
  docs/resources/warehouse.md
  examples/resources/lakekeeper_warehouse/resource.tf
  internal/provider/datasource_project_assignments.go
  internal/provider/datasource_warehouse.go
  internal/provider/datasource_warehouse_assignments.go
  internal/provider/resource_warehouse.go
  internal/provider/resource_warehouse_test.go
  internal/provider/sdk/assignment.go
  internal/provider/sdk/delete_profile.go
  internal/provider/sdk/deprecated/storage_profile.go
  internal/provider/sdk/deprecated/storage_profile_validator.go
  internal/provider/sdk/storage_credential.go
  internal/provider/sdk/storage_credential_validator.go
  internal/provider/sdk/storage_profile.go
  internal/provider/testdata/key.json
  internal/provider/types/storage_credential.go
  internal/provider/warehouse_sdk.go
Labels: documentation, go, provider

feat(warehouse)!: redesign storage profile and credential (#152)
  docs/resources/warehouse.md
  examples/resources/lakekeeper_warehouse/resource.tf
  internal/provider/datasource_project_assignments.go
  internal/provider/datasource_warehouse.go
  internal/provider/datasource_warehouse_assignments.go
  internal/provider/resource_warehouse.go
  internal/provider/resource_warehouse_test.go
  internal/provider/sdk/assignment.go
  internal/provider/sdk/delete_profile.go
  internal/provider/sdk/deprecated/storage_profile.go
  internal/provider/sdk/deprecated/storage_profile_validator.go
  internal/provider/sdk/storage_credential.go
  internal/provider/sdk/storage_credential_validator.go
  internal/provider/sdk/storage_profile.go
  internal/provider/testdata/key.json
  internal/provider/types/storage_credential.go
  internal/provider/warehouse_sdk.go
Labels: documentation, go, provider

chore(main): release 0.4.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore(ci): improve tests workflow
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: ci

chore(ci): improve tests workflow (#154)
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: ci

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - docs/**
      - examples/**
      - playground/**
      - '**/*.md'

ci:
  - changed-files:
    - any-glob-to-any-file: .github/**

go:
  - changed-files:
    - any-glob-to-any-file: '**/*.go'

client:
  - changed-files:
    - any-glob-to-any-file: 'lakekeeper/**'

provider:
  - changed-files:
    - any-glob-to-any-file: 'internal/provider/**'
