Repository baptistegh/terraform-provider-lakekeeper, pull requests merged in 2025-07, with the labels that each got.

#22 feat: add warehouse resource (create/delete/read)
  .github/workflows/test.yml
  docs/resources/warehouse.md
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_test.go
  internal/provider/types/delete_profile.go
  internal/provider/types/storage_credential.go
  internal/provider/types/storage_credential_validator.go
  internal/provider/types/storage_profile.go
  internal/provider/types/storage_profile_validator.go
  internal/provider/warehouse_sdk.go
  lakekeeper/client.go
  lakekeeper/delete_profile.go
  lakekeeper/delete_profile_test.go
  lakekeeper/storage/credential/az.go
  lakekeeper/storage/credential/gcs.go
  lakekeeper/storage/credential/s3.go
  lakekeeper/storage/credential/wrapper.go
  lakekeeper/storage/profiles.go
  lakekeeper/storage/profiles_test.go
  lakekeeper/user.go
  lakekeeper/warehouse.go
  run/docker-compose.yml
  tools/go.mod
  tools/go.sum
Labels: enhancement, help wanted, client, provider

#32 feat(provider): add role resource and datasource
  docs/data-sources/role.md
  docs/resources/role.md
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_role_test.go
  internal/provider/registry.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_role_test.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/testutil/helpers.go
  lakekeeper/client.go
  lakekeeper/error.go
  lakekeeper/role.go
  lakekeeper/warehouse.go
Labels: enhancement, go, client, provider

#37 docs: refine documentation in README and examples
  README.md
  docs/data-sources/default_project.md
  docs/data-sources/project.md
  docs/data-sources/role.md
  docs/data-sources/server_info.md
  docs/data-sources/user.md
  docs/data-sources/warehouse.md
  docs/data-sources/whoami.md
  docs/index.md
  docs/resources/project.md
  docs/resources/role.md
  docs/resources/user.md
  docs/resources/warehouse.md
  examples/data-sources/lakekeeper_default_project/data-source.tf
  examples/data-sources/lakekeeper_project/data-source.tf
  examples/data-sources/lakekeeper_role/data-source.tf
  examples/data-sources/lakekeeper_server_info/data-source.tf
  examples/data-sources/lakekeeper_user/data-source.tf
  examples/data-sources/lakekeeper_warehouse/data-source.tf
  examples/data-sources/lakekeeper_whoami/data-source.tf
  examples/provider/provider.tf
  examples/resources/lakekeeper_project/import.sh
  examples/resources/lakekeeper_project/resource.tf
  examples/resources/lakekeeper_role/import.sh
  examples/resources/lakekeeper_role/resource.tf
  examples/resources/lakekeeper_user/import.sh
  examples/resources/lakekeeper_user/resource.tf
  examples/resources/lakekeeper_warehouse/resource.tf
  examples/resources/scaffolding_example/import.sh
  examples/resources/scaffolding_example/resource.tf
  internal/provider/datasource_lakekeeper_server_info.go
  internal/provider/resource_lakekeeper_user.go
Labels: documentation, enhancement

#41 chore(ci): refactor linters
  .github/workflows/test.yml
  .golangci.yml
  .tool-versions
  .vscode/settings.json
  Makefile
  docs/index.md
  go.mod
  go.sum
  internal/provider/datasource_lakekeeper_warehouse_test.go
  internal/provider/provider_test.go
  internal/provider/resource_lakekeeper_project_test.go
  internal/provider/resource_lakekeeper_role_test.go
  internal/provider/resource_lakekeeper_user_test.go
  internal/provider/resource_lakekeeper_warehouse_test.go
  internal/provider/testutil/helpers.go
  templates/index.md.tmpl
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: ci

#46 ci: remove feature label
  .github/pull-request-triage.sh
  .github/release.yml
  .github/workflows/pull-request-triage.yml
  .github/workflows/test.yml
Labels: ci

#40 ci: add dependabot on docker compose images
  .github/CODEOWNERS
  .github/dependabot.yml
  run/docker-compose.yml
Labels: ci

#49 chore: prepare release v0.1.1
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Labels: ignore-for-release

#50 feat(client): add static token based authentication
  internal/provider/api/config.go
  lakekeeper/auth.go
  lakekeeper/client.go
  lakekeeper/client_options.go
  lakekeeper/error.go
  lakekeeper/role.go
  lakekeeper/server.go
  lakekeeper/user.go
Labels: enhancement, go, client

#52 chore(ci): fix missing permissions preventing label assignment
  .github/workflows/issue-comment-triage.yml
Labels: ci

#59 ci: add workflow auto merge on review
  .github/workflows/auto-merge.yml
Labels: ci

#70 fix(ci): error on label removal on PR
  .github/pull-request-triage.sh
Labels: bug

#53 docs: fix some typo errors
  docs/resources/role.md
  docs/resources/warehouse.md
  examples/resources/lakekeeper_role/import.sh
  examples/resources/lakekeeper_role/resource.tf
  examples/resources/lakekeeper_warehouse/resource.tf
  lakekeeper/client.go
Labels: documentation

#54 feat: Implement project renaming in Terraform provider
  internal/provider/resource_lakekeeper_project.go
  internal/provider/resource_lakekeeper_project_test.go
  lakekeeper/project.go
Labels: enhancement, go, client, provider

#73 feat(client): add rename warehouse method
  lakekeeper/warehouse.go
Labels: enhancement, go, client

#76 ci: fix dependabot on docker compose
  .github/dependabot.yml
Labels: ci

#82 ci: run acceptance tests on 3 last lakekeeper versions
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
  run/docker-compose.yml
Labels: documentation, ci

#83 ci: remove ci cache
  .github/workflows/test.yml
Labels: ci

#58 feat(client): proposal new datastructure design
  internal/provider/datasource_lakekeeper_warehouse_test.go
  internal/provider/testutil/helpers.go
  internal/provider/warehouse_sdk.go
  lakekeeper/error.go
  lakekeeper/storage/profiles.go
  lakekeeper/storage/profiles_test.go
  lakekeeper/types/permission/server_assignment.go
  lakekeeper/types/permission/server_assignment_test.go
  lakekeeper/types/storage/credential/az.go
  lakekeeper/types/storage/credential/credential.go
  lakekeeper/types/storage/credential/gcs.go
  lakekeeper/types/storage/credential/s3.go
  lakekeeper/types/storage/profile/adls.go
  lakekeeper/types/storage/profile/delete.go
  lakekeeper/types/storage/profile/gcs.go
  lakekeeper/types/storage/profile/profile.go
  lakekeeper/types/storage/profile/s3.go
  lakekeeper/types/storage/profile/s3_test.go
  lakekeeper/warehouse.go
  lakekeeper/warehouse_test.go
  run/docker-compose.yml
Labels: enhancement, question, go, client, provider, waiting-response

#85 feat(client): add update storage credential for warehouses
  lakekeeper/warehouse.go
Labels: enhancement, go, client

#87 chore: prepare release v0.2.0
  CHANGELOG.md
  README.md
Labels: documentation, ignore-for-release

#89 docs: fix some inconsistencies
  docs/data-sources/role.md
  docs/data-sources/warehouse.md
  docs/resources/project.md
  docs/resources/role.md
  docs/resources/warehouse.md
  examples/data-sources/lakekeeper_warehouse/data-source.tf
  examples/resources/lakekeeper_project/resource.tf
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/types/delete_profile.go
Labels: documentation, go, provider

#90 chore: prepare release v0.2.1
  CHANGELOG.md
  README.md
Labels: documentation, ignore-for-release

#92 ci: fix labeler to run on PR
  .github/workflows/labeler.yml
Labels: ci

#91 chore(deps): lakekeeper go client is now a dependency
  .github/workflows/test.yml
  Makefile
  go.mod
  go.sum
  internal/provider/api/config.go
  internal/provider/datasource_lakekeeper_default_project.go
  internal/provider/datasource_lakekeeper_project.go
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_role_test.go
  internal/provider/datasource_lakekeeper_server_info.go
  internal/provider/datasource_lakekeeper_server_info_test.go
  internal/provider/datasource_lakekeeper_user.go
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/datasource_lakekeeper_whoami_test.go
  internal/provider/datasource_lakekeerper_whoami.go
  internal/provider/provider.go
  internal/provider/resource_lakekeeper_project.go
  internal/provider/resource_lakekeeper_project_test.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_role_test.go
  internal/provider/resource_lakekeeper_user.go
  internal/provider/resource_lakekeeper_user_test.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_test.go
  internal/provider/testutil/helpers.go
  internal/provider/types/delete_profile.go
  internal/provider/types/storage_profile_validator.go
  internal/provider/warehouse_sdk.go
  lakekeeper/auth.go
  lakekeeper/client.go
  lakekeeper/client_options.go
  lakekeeper/context.go
  lakekeeper/delete_profile.go
  lakekeeper/delete_profile_test.go
  lakekeeper/error.go
  lakekeeper/project.go
  lakekeeper/request_options.go
  lakekeeper/role.go
  lakekeeper/server.go
  lakekeeper/storage/az.go
  lakekeeper/storage/gcs.go
  lakekeeper/storage/profiles.go
  lakekeeper/storage/profiles_test.go
  lakekeeper/storage/s3.go
  lakekeeper/storage/wrapper.go
  lakekeeper/types/permission/server_assignment.go
  lakekeeper/types/permission/server_assignment_test.go
  lakekeeper/types/storage/credential/az.go
  lakekeeper/types/storage/credential/credential.go
  lakekeeper/types/storage/credential/gcs.go
  lakekeeper/types/storage/credential/s3.go
  lakekeeper/types/storage/profile/adls.go
  lakekeeper/types/storage/profile/delete.go
  lakekeeper/types/storage/profile/gcs.go
  lakekeeper/types/storage/profile/profile.go
  lakekeeper/types/storage/profile/s3.go
  lakekeeper/types/storage/profile/s3_test.go
  lakekeeper/user.go
  lakekeeper/warehouse.go
Labels: go, client, provider, ci

#95 chore: skip storage validation and bump go client to v0.0.6
  .github/workflows/test.yml
  README.md
  go.mod
  go.sum
  internal/provider/api/config.go
  internal/provider/datasource_lakekeeper_default_project.go
  internal/provider/datasource_lakekeeper_role_test.go
  internal/provider/resource_lakekeeper_project.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_user.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/testutil/helpers.go
  internal/provider/types/storage_profile_validator.go
  internal/provider/warehouse_sdk.go
  run/docker-compose.yml
Labels: documentation, go, provider, ci

#97 chore: prepare release 0.2.2
  CHANGELOG.md
  README.md
Labels: documentation, ignore-for-release

#103 feat: add lakekeeper_project_user/role_assignment resources
  docs/resources/project_role_assignment.md
  docs/resources/project_user_assignment.md
  examples/resources/lakekeeper_project_role_assignment/import.sh
  examples/resources/lakekeeper_project_role_assignment/resource.tf
  examples/resources/lakekeeper_project_user_assignment/import.sh
  examples/resources/lakekeeper_project_user_assignment/resource.tf
  internal/provider/resource_lakekeeper_project_role_assignment.go
  internal/provider/resource_lakekeeper_project_role_assignment_test.go
  internal/provider/resource_lakekeeper_project_user_assignment.go
  internal/provider/resource_lakekeeper_project_user_assignment_test.go
Labels: documentation, enhancement, go, provider

#104 feat: add role (role/user) assignments
  docs/resources/role_role_assignment.md
  docs/resources/role_user_assignment.md
  examples/resources/lakekeeper_role_role_assignment/import.sh
  examples/resources/lakekeeper_role_role_assignment/resource.tf
  examples/resources/lakekeeper_role_user_assignment/import.sh
  examples/resources/lakekeeper_role_user_assignment/resource.tf
  go.mod
  go.sum
  internal/provider/resource_lakekeeper_project_role_assignment_test.go
  internal/provider/resource_lakekeeper_project_user_assignment_test.go
  internal/provider/resource_lakekeeper_role_role_assignment.go
  internal/provider/resource_lakekeeper_role_role_assignment_test.go
  internal/provider/resource_lakekeeper_role_user_assignment.go
  internal/provider/resource_lakekeeper_role_user_assignment_test.go
  internal/provider/resource_lakekeeper_server_role_assignment_test.go
  main.go
Labels: documentation, enhancement, go, provider

#105 chore: prepare release v0.2.3
  CHANGELOG.md
  README.md
Labels: documentation, ignore-for-release

#106 chore: lakekeeper v0.9.3 released
  .github/workflows/test.yml
  README.md
Labels: documentation, ci

#107 chore: add release please
  .github/release.yml
  .github/workflows/release-please.yml
  release-please/.release-please-manifest.json
  release-please/release-please-config.json
Labels: ci

#108 chore: set up release type
  playground/main.tf
  release-please/release-please-config.json
  run/docker-compose.yml
  run/keycloak/realm.json
Labels: documentation

#115 chore: format changelog
  CHANGELOG.md
Labels: documentation

#119 chore(main): release 0.2.4
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#120 feat: add playground examples
  .gitignore
  Makefile
  README.md
  playground/.terraform.lock.hcl
  playground/main.tf
Labels: documentation, enhancement

#122 chore: update readme
  README.md
Labels: documentation

#123 chore: release please
  .github/workflows/release-please.yml
Labels: ci

#128 feat: add lakekeeper_warehouse_assignments datasource
  docs/data-sources/warehouse.md
  docs/data-sources/warehouse_assignments.md
  docs/data-sources/warehouse_role_access.md
  docs/data-sources/warehouse_user_access.md
  examples/data-sources/lakekeeper_warehouse_assignments/data-source.tf
  examples/data-sources/lakekeeper_warehouse_role_access/data-source.tf
  examples/data-sources/lakekeeper_warehouse_user_access/data-source.tf
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/datasource_lakekeeper_warehouse_assignments.go
  internal/provider/datasource_lakekeeper_warehouse_assignments_test.go
  internal/provider/datasource_lakekeeper_warehouse_role_access.go
  internal/provider/datasource_lakekeeper_warehouse_role_access_test.go
  internal/provider/datasource_lakekeeper_warehouse_user_access.go
  internal/provider/datasource_lakekeeper_warehouse_user_access_test.go
  internal/provider/testutil/helpers.go
  internal/provider/types/assignment.go
Labels: documentation, enhancement, go, provider

#130 chore(ci): add nightly acceptance tests
  .github/workflows/nightly.yml
Labels: ci

#131 docs: add guides
  docs/guides/authentication-methods.md
  docs/guides/set-up-permissions.md
  templates/guides/authentication-methods.md.tmpl
  templates/guides/set-up-permissions.md.tmpl
Labels: documentation

#121 chore(main): release 0.2.5
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#133 chore(deps): bump github.com/baptistegh/go-lakekeeper from v0.0.10 to v0.0.11
  go.mod
  go.sum
  internal/provider/api/config.go
  internal/provider/datasource_lakekeeper_default_project.go
  internal/provider/datasource_lakekeeper_project.go
  internal/provider/datasource_lakekeeper_project_assignments.go
  internal/provider/datasource_lakekeeper_project_assignments_test.go
  internal/provider/datasource_lakekeeper_project_role_access.go
  internal/provider/datasource_lakekeeper_project_role_access_test.go
  internal/provider/datasource_lakekeeper_project_user_access.go
  internal/provider/datasource_lakekeeper_project_user_access_test.go
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_role_test.go
  internal/provider/datasource_lakekeeper_server_info.go
  internal/provider/datasource_lakekeeper_server_info_test.go
  internal/provider/datasource_lakekeeper_user.go
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/datasource_lakekeeper_warehouse_assignments.go
  internal/provider/datasource_lakekeeper_warehouse_assignments_test.go
  internal/provider/datasource_lakekeeper_warehouse_role_access.go
  internal/provider/datasource_lakekeeper_warehouse_role_access_test.go
  internal/provider/datasource_lakekeeper_warehouse_user_access.go
  internal/provider/datasource_lakekeeper_warehouse_user_access_test.go
  internal/provider/datasource_lakekeeper_whoami_test.go
  internal/provider/datasource_lakekeerper_whoami.go
  internal/provider/resource_lakekeeper_project.go
  internal/provider/resource_lakekeeper_project_role_assignment.go
  internal/provider/resource_lakekeeper_project_role_assignment_test.go
  internal/provider/resource_lakekeeper_project_test.go
  internal/provider/resource_lakekeeper_project_user_assignment.go
  internal/provider/resource_lakekeeper_project_user_assignment_test.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_role_role_assignment.go
  internal/provider/resource_lakekeeper_role_role_assignment_test.go
  internal/provider/resource_lakekeeper_role_test.go
  internal/provider/resource_lakekeeper_role_user_assignment.go
  internal/provider/resource_lakekeeper_role_user_assignment_test.go
  internal/provider/resource_lakekeeper_server_role_assignment.go
  internal/provider/resource_lakekeeper_server_role_assignment_test.go
  internal/provider/resource_lakekeeper_server_user_assignment.go
  internal/provider/resource_lakekeeper_server_user_assignment_test.go
  internal/provider/resource_lakekeeper_user.go
  internal/provider/resource_lakekeeper_user_test.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment_test.go
  internal/provider/resource_lakekeeper_warehouse_test.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment_test.go
  internal/provider/testutil/helpers.go
Labels: go, provider

#138 feat!: replace : by / in composite ids
  docs/data-sources/project_role_access.md
  docs/data-sources/project_user_access.md
  docs/data-sources/role.md
  docs/data-sources/warehouse.md
  docs/resources/project_role_assignment.md
  docs/resources/project_user_assignment.md
  docs/resources/role.md
  docs/resources/role_role_assignment.md
  docs/resources/role_user_assignment.md
  docs/resources/server_role_assignment.md
  docs/resources/server_user_assignment.md
  docs/resources/warehouse.md
  docs/resources/warehouse_role_assignment.md
  examples/resources/lakekeeper_project_role_assignment/import.sh
  examples/resources/lakekeeper_project_user_assignment copy/import.sh
  examples/resources/lakekeeper_project_user_assignment/import.sh
  examples/resources/lakekeeper_role/import.sh
  examples/resources/lakekeeper_role_role_assignment/import.sh
  examples/resources/lakekeeper_role_user_assignment/import.sh
  examples/resources/lakekeeper_warehouse_role_assignment/import.sh
  internal/provider/datasource_lakekeeper_project_role_access.go
  internal/provider/datasource_lakekeeper_project_role_access_test.go
  internal/provider/datasource_lakekeeper_project_user_access.go
  internal/provider/datasource_lakekeeper_project_user_access_test.go
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/datasource_lakekeeper_role_test.go
  internal/provider/datasource_lakekeeper_warehouse.go
  internal/provider/datasource_lakekeeper_warehouse_role_access.go
  internal/provider/datasource_lakekeeper_warehouse_role_access_test.go
  internal/provider/datasource_lakekeeper_warehouse_test.go
  internal/provider/datasource_lakekeeper_warehouse_user_access.go
  internal/provider/datasource_lakekeeper_warehouse_user_access_test.go
  internal/provider/registry.go
  internal/provider/resource_lakekeeper_project_role_assignment.go
  internal/provider/resource_lakekeeper_project_role_assignment_test.go
  internal/provider/resource_lakekeeper_project_user_assignment.go
  internal/provider/resource_lakekeeper_project_user_assignment_test.go
  internal/provider/resource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_role_role_assignment.go
  internal/provider/resource_lakekeeper_role_role_assignment_test.go
  internal/provider/resource_lakekeeper_role_user_assignment.go
  internal/provider/resource_lakekeeper_role_user_assignment_test.go
  internal/provider/resource_lakekeeper_server_role_assignment.go
  internal/provider/resource_lakekeeper_server_user_assignment.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment_test.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment_test.go
  internal/provider/warehouse_sdk.go
Labels: documentation, go, breaking-change, provider

#136 chore(main): release 0.3.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#142 chore(docs): fix some mistakes
  docs/data-sources/default_project.md
  docs/data-sources/project.md
  docs/data-sources/role.md
  docs/resources/warehouse.md
  docs/resources/warehouse_role_assignment.md
  docs/resources/warehouse_user_assignment.md
  internal/provider/datasource_lakekeeper_default_project.go
  internal/provider/datasource_lakekeeper_project.go
  internal/provider/datasource_lakekeeper_role.go
  internal/provider/resource_lakekeeper_warehouse.go
  internal/provider/resource_lakekeeper_warehouse_role_assignment.go
  internal/provider/resource_lakekeeper_warehouse_user_assignment.go
  internal/provider/types/delete_profile.go
Labels: documentation, go, provider

#140 chore(main): release 0.3.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#144 fix: oauth2 scope was not correctly sent
  internal/provider/provider.go
  internal/provider/provider_test.go
Labels: bug, go, provider

#145 chore(main): release 0.3.2
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending
